body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 400px;
  margin-top: 30px;
}

input, button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
}

button {
  background: #6c5ce7;
  color: white;
}

p {
  background: #222;
  padding: 10px;
  border-radius: 8px;
}

.hidden {
  display: none;
}
